<div class="items-sell-contents">
  
  <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>

  </header>
  
  <div class="items-sell-main">
    <div class="contents row">
      <p><%= @nickname %>さんの投稿一覧</p>
      <% @items.each do |item| %>
        <% if item.buy.present? %>
        <% else %>
          <div class="content_post">
            <div class="item_name"><%= link_to item.name, item_path(item.id) %></div>
            <%= image_tag item.image %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </footer>

</div>